node_modules/
.env
.DS_Store
Thumbs.db
public/images/originals/*
public/images/thumbs/*
!public/images/originals/.keep
!public/images/thumbs/.keep
config/users.json
config/config.json
public/images/originals/
public/images/thumbs/