[Unit]
Description=InfoMagic X session
After=network.target infomagic-backend.service
Requires=infomagic-backend.service

[Service]
User=@APP_USER@
TTYPath=/dev/tty1
Environment=DISPLAY=:0
ExecStart=/usr/bin/startx
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target