[Unit]
Description=InfoMagic TV Display
After=network-online.target infomagic-backend.service

[Service]
Type=simple
User=@APP_USER@
Environment=WAYLAND_DISPLAY=wayland-tv
ExecStart=/usr/bin/weston-launch --config=/home/@APP_USER@/weston-tv.ini --socket=wayland-tv -- /usr/bin/chromium --kiosk --password-store=basic --use-mock-keychain http://localhost:3000/ui/tv.html
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target