
[Unit]
Description=InfoMagic Touch Display
After=weston.service infomagic.service
Requires=weston.service

[Service]
User=infomagic
Environment=XDG_RUNTIME_DIR=/run/user/1001
Environment=WAYLAND_DISPLAY=wayland-0
ExecStart=/usr/bin/chromium   --kiosk   --noerrdialogs   --disable-infobars   --ozone-platform=wayland   --window-position=1920,0   http://localhost:3000/ui/touch.html
Restart=always

[Install]
WantedBy=multi-user.target
