[Unit]
Description=InfoMagic TV Display
After=network-online.target infomagic-backend.service infomagic-x.service
Requires=infomagic-x.service

[Service]
Type=simple
User=@APP_USER@
Environment=DISPLAY=:0
ExecStart=/usr/bin/chromium \
  --password-store=basic \
  --use-mock-keychain \
  --user-data-dir=/home/pi/.config/chromium-tv
  --kiosk \
  --window-position=0,0 \
  --noerrdialogs \
  --disable-session-crashed-bubble \
  http://localhost:3000/ui/tv.html
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target