[Unit]
Description=InfoMagic Touch Display
After=network-online.target infomagic-backend.service infomagic-x.service
Requires=infomagic-x.service

[Service]
User=@APP_USER@
Environment=DISPLAY=:1
ExecStart=/usr/bin/chromium \
  --kiosk \
  --window-position=1920,0 \
  --window-size=1280,720 \
  --noerrdialogs \
  --disable-infobars \
  --disable-session-crashed-bubble \
  --disable-translate \
  --disable-features=TranslateUI \
  http://localhost:3000/ui/touch.html
Restart=always
RestartSec=5


[Install]
WantedBy=multi-user.target