[Unit]
Description=InfoMagic Backend
After=network.target
Wants=network.target

[Service]
Type=simple
User=@APP_USER@
WorkingDirectory=@APP_DIR@
ExecStart=/usr/bin/node @APP_DIR@/server/server.js
Restart=always
RestartSec=3
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target