
[Unit]
Description=Weston Wayland Compositor
After=systemd-user-sessions.service systemd-logind.service
Requires=systemd-logind.service

[Service]
User=infomagic
Environment=XDG_RUNTIME_DIR=/run/user/1001
ExecStart=/usr/bin/weston --backend=drm-backend.so --shell=kiosk-shell.so
Restart=always

[Install]
WantedBy=multi-user.target
