
[Unit]
Description=InfoMagic Backend
After=network.target

[Service]
User=infomagic
WorkingDirectory=/opt/infomagic
ExecStart=/usr/bin/node server/server.js
Restart=always

[Install]
WantedBy=multi-user.target
